In [5]:
import pandas as pd
df = pd.read_csv("Book1.csv")
df

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow
3  01-04-2023           24          7   Snow
4  01-05-2023           32          4   Rain
5  01-06-2023           32          2  Sunny

In [7]:
rows, columns = df.shape

In [10]:
rows, columns

(6, 4)

In [13]:
df.head(3)

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow

In [15]:
df.tail(1)

          day  temperature  windspeed  event
5  01-06-2023           32          2  Sunny

In [20]:
df[2:5]

          day  temperature  windspeed event
2  01-03-2023           28          2  Snow
3  01-04-2023           24          7  Snow
4  01-05-2023           32          4  Rain

In [22]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [24]:
df.day

0    01-01-2023
1    01-02-2023
2    01-03-2023
3    01-04-2023
4    01-05-2023
5    01-06-2023
Name: day, dtype: object

In [26]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [27]:
type(df['event'])

pandas.core.series.Series

In [30]:
df[['event', 'day','temperature']]

   event         day  temperature
0   Rain  01-01-2023           32
1  Sunny  01-02-2023           35
2   Snow  01-03-2023           28
3   Snow  01-04-2023           24
4   Rain  01-05-2023           32
5  Sunny  01-06-2023           32

In [31]:
df

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow
3  01-04-2023           24          7   Snow
4  01-05-2023           32          4   Rain
5  01-06-2023           32          2  Sunny

In [35]:
df.temperature.mean()

30.5

In [38]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [44]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
4  01-05-2023           32          4   Rain
5  01-06-2023           32          2  Sunny

In [53]:
df[df.temperature==df.temperature.max()]

            temperature  windspeed  event
day
01-02-2023           35          7  Sunny

In [56]:
df

            temperature  windspeed  event
day
01-01-2023           32          6   Rain
01-02-2023           35          7  Sunny
01-03-2023           28          2   Snow
01-04-2023           24          7   Snow
01-05-2023           32          4   Rain
01-06-2023           32          2  Sunny

KeyError: "None of ['day'] are in the columns"